.Navigation__container {
  position: fixed;
  z-index: 100;
}
.Navigation {
  background-color: #02b468;
  height: 10vh;
  padding: 10px 50px;
}
.Navigation__items {
  display: flex;
}
.Navigation__items ul {
  margin-left: 600px;
  width: 100%;
  list-style: none;
}
.Navigation__items ul li {
  margin-right: 20px;
  display: inline;
  cursor: pointer;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.Navigation__logo {
  width: 228px;
  height: 40px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.contact__location {
  margin-right: 80px;
}
.Navigation__btn {
  width: 110px;
  background: #ffffff;
  border: 2px solid #02b468;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  position: relative;
  transition: all 1s ease-out;
}
.Navigation__btn:hover {
  transform: translateY(2px);
}
.Navigation__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #02b468;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1s ease-out;
}
.Navigation__btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.contact__container {
  background: #ffffff;
  width: 100%;
  height: 4vh;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}
.contact__items {
  display: flex;
  position: absolute;
  left: 1025px;
}
.Modal {
  border-radius: 5px;
}
