.contact__heading-primary {
  text-align: center;
  margin-top: 200px;
  text-transform: uppercase;
}
.contact__heading-main {
  display: block;
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 5px;
  animation: MoveInLeft 1s ease-out;
}
.contact__heading-sub {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 5px;
  animation: MoveInRight 1s ease-out;
}

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.contact__form-container {
  margin: 0px 100px 0px 100px;
  padding: 20px 0px 30px 100px;
  background-color: rgba(94, 94, 94, 0.03);
  border-radius: 5px;
}
.sendBtn {
  width: 25%;
  height: 40px;
  background: #02b468;
  border: 1px solid #02b468;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  color: #ffffff;
  margin-left: 25px;
  position: relative;
  transition: all 1s ease-out;
}
.sendBtn:hover {
  transform: translateY(2px);
}
.sendBtn::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #02b468;
  border: 1px solid #02b468;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1s ease-out;
}
.sendBtn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
