.root {
  padding: 10px 50px;
}
@media (max-width: 425px) {
  .root {
    padding: 10px 20px;
  }
}

@media (max-width: 375px) {
  .root {
    padding: 10px 20px;
  }
}

@media (max-width: 320px) {
  .root {
    padding: 10px 5px;
  }
}
